.vs
.vscode
.DS_Store

/hlslmath*.h

/tests/**/.vs
/tests/**/Debug
/tests/**/Release
/tests/**/x64
/tests/**/ARM
/tests/**/ARM64

/unit_tests/out
/unit_tests/ndkbuild/obj
/unit_tests/ndkbuild/libs